* {
  font-family: "Inter", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-color: white;
  --background-image:url(./assets/bg-mobile.jpg);
  --stroke-color:rgba(255, 255, 255, 0.5);
  --button-background:rgba(255, 255, 255, 0.1);
  --social-link-hover:rgba(255, 255, 255, 0.20);
  --switch-image:url(assets/moon-star.svg);
}

.light{
--text-color:black;
--background-image:url(assets/bg-mobile-light.jpg);
--stroke-color:rgba(0, 0, 0, 0.50);
--button-background: rgba(0, 0, 0, 0.05);
--social-link-hover:rgba(0, 0, 0, 0.10);
--switch-image:url(assets/sun.svg);
}

body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: top center; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container {
  height: 712px;
  width: 360px;
  padding-top: 56px;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Profile*/
.profile {
  width: 360px;
  height: 192px;
  padding: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile img {
  width: 112px;
}

.profile p {
  font-weight: 500;
  line-height: 50px;
  color: var(--text-color);
}
/* Switch */
.switch {
  height: 40;
  width: 64;

  display: flex;
  justify-content: center;
  align-items: center;
}
.switch button{
  height: 32px;
  width: 32px;
  background: white var(--switch-image) no-repeat center;
  border: none;


  cursor: pointer;
  border-radius: 50%;
}
.switch button:hover{

}
.switch span{
  width: 64px;
  height: 24px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.1);
}
/*Links*/
.links {
  width: 360px;
  height: 320px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.links button {
  width: 312px;
  height: 56px;
  color: var(--text-color);

  border: 1.5px solid var(--stroke-color);
  border-radius: 8px;

  background:var(--button-background) ;
  backdrop-filter: blur(4px);
  font-weight: 500;

}
.links button:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid var(--text-color);

}

/* Social Links */
.social-links {
  height: 88px;
  width: 360px;
  padding: 24px;
  color: var(--text-color);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.social-links a:hover{
  padding: 16px;
  background-color: var(--social-link-hover);
  border-radius: 50%;
}
.social-links a {
  display: flex;
  
}
.social-links a ion-icon{
  color: var(--text-color);
 
}

/* Footer */
footer {
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
